*{
    margin: 0;
    text-decoration: none;
    font-family: "Goudy Old Style";
    color: white;
    font-size: 1.2rem;
}

body, html{
    height: 100%;
}

#header{
    display: flex;
    background-color: black;
    height: 12vh;
    justify-content: flex-start;
    align-items: center;
}

#home{
    font-family: "Old English Text MT";
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.logo{
    margin: 0px 10px;
}

#logoImg{
    height: 65px;
    width: 65px;
    margin-right: 5px;
}

.nav{
    margin : 0px 10px;
    padding: 30px 0px; 
}

.nav:hover{
    transition: 0.5s;
    background-color: #ae1e1e;
}

.nav a{
    padding: 20px 10px;
}

#nav-active{
    background-color: #ae1e1e;
}

.nav-merchandise{
    margin : 0px 10px;
    padding: 30px 0px; 
    position: relative;
    display: inline-block;
}

.nav-merchandise a{
    padding: 20px 10px;
}

.nav-merchandise:hover{
    transition: 0.5s;
    background-color: #ae1e1e;
}

.merchandise-dropdown{
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: black;
    padding: 5px;
    z-index: 1;
    flex-wrap: wrap;
}

.menu-merchandise{
    padding: 10px 0px;
}

.menu-merchandise:hover{
    transition: 0.5s;
    background-color: #ae1e1e;
}

.nav-merchandise:hover .merchandise-dropdown{
    display: block;
}

.regisnav{
    margin : 0px 30px;
    position: absolute;
    right: 0;
}

.regisnav a{
    background-color: #ae1e1e;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.5s;
}

.regisnav a:hover{
    padding: 15px 25px;
}

.burgernav{
    display: none;
}

.burger{
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    margin: 6px 0;
}

.content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Assets/doto2_homepage_content2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.hero img{
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

.hero-container{
    text-align: center;
}

.skill-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill img{
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 0px;
    border-style: inset;
    transition: 0.5s;
}

.skill img:hover{
    transform: scale(1.3);
}

.skill-desc{
    background-color: rgb(56, 56, 56);
    width: 300px;
    height: 200px;
    text-align: justify;
    font-size: 10px;
    border-style: double;
    border-color: black;
}

#lcDesc1{
    display: none;
}

#lcDesc1 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#lcDesc2{
    display: none;
}

#lcDesc2 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#lcDesc3{
    display: none;
}

#lcDesc3 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#lcDesc4{
    display: none;
}

#lcDesc4 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#juggerDesc1{
    display: none;
}

#juggerDesc1 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#juggerDesc2{
    display: none;
}

#juggerDesc2 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#juggerDesc3{
    display: none;
}

#juggerDesc3 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#juggerDesc4{
    display: none;
}

#juggerDesc4 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#cmDesc1{
    display: none;
}

#cmDesc1 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#cmDesc2{
    display: none;
}

#cmDesc2 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#cmDesc3{
    display: none;
}

#cmDesc3 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#cmDesc4{
    display: none;
}

#cmDesc4 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#paDesc1{
    display: none;
}

#paDesc1 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#paDesc2{
    display: none;
}

#paDesc2 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#paDesc3{
    display: none;
}

#paDesc3 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#paDesc4{
    display: none;
}

#paDesc4 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#sfDesc1{
    display: none;
}

#sfDesc1 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#sfDesc2{
    display: none;
}

#sfDesc2 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#sfDesc3{
    display: none;
}

#sfDesc3 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#sfDesc4{
    display: none;
}

#sfDesc4 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#zeusDesc1{
    display: none;
}

#zeusDesc1 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#zeusDesc2{
    display: none;
}

#zeusDesc2 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#zeusDesc3{
    display: none;
}

#zeusDesc3 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#zeusDesc4{
    display: none;
}

#zeusDesc4 p{
    font-size: 1.05rem;
    margin-top: 10px;
}

#footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 12vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sosmed img{
    height: 30px;
    width: 30px;
}

.copyright p{
    font-size: 1rem;
}

@media screen and (max-width:800px){


    .burgernav{
        display: block;
        position: absolute;
        right: 0;
        margin: 20px 30px;
    }

    #header{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-top: 20px;
    }

    .logo{
        margin-bottom: 24.5px;
    }

    .nav, .nav-merchandise{
        position: relative;
        width: 100%;
        background-color: black;
        margin: 0px;
        display: none;
    }

    .nav a{
        padding-right: 700px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .regisnav{
        position: relative;
        width: 100%;
        background-color: black;
        margin: 0px;
        padding: 30px 0px; 
        display: inline-block;
        display: none;
    }

    .regisnav:hover{
        background-color: #ae1e1e;
    }

    .regisnav a{
        background-color: inherit;
        padding: 20px 10px;
        border-radius: 0px;
        transition: 0s;
    }
    
    .regisnav a:hover{
        padding: 20px 10px;
    }

    .merchandise-dropdown{
        margin-top: 30px;
        display: none;
        position: relative;
        background-color: black;
        padding: 5px;
        z-index: 1;
        flex-wrap: wrap;
    }

    .menu-merchandise a{
        padding-right: 700px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .hero{
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 800px){
    .nav.responsive{
        display: block;
    }
    .nav-merchandise.responsive{
        display: block;
    }
    .regisnav.responsive{
        display: block;
    }
}