*{
    margin: 0;
    text-decoration: none;
    font-family: "Goudy Old Style";
    color: white;
    font-size: 1.2rem;
}

body, html{
    height: 100%;
}

#header{
    display: flex;
    background-color: black;
    height: 12vh;
    justify-content: flex-start;
    align-items: center;
}

#home{
    font-family: "Old English Text MT";
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.logo{
    margin: 0px 10px;
}

#logoImg{
    height: 65px;
    width: 65px;
    margin-right: 5px;
}

.nav{
    margin : 0px 10px;
    padding: 30px 0px; 
}

.nav:hover{
    transition: 0.5s;
    background-color: #ae1e1e;
}

.nav a{
    padding: 20px 10px;
}

#nav-active{
    background-color: #ae1e1e;
}

.nav-merchandise{
    margin : 0px 10px;
    padding: 30px 0px; 
    position: relative;
    display: inline-block;
}

.nav-merchandise a{
    padding: 20px 10px;
}

.nav-merchandise:hover{
    transition: 0.5s;
    background-color: #ae1e1e;
}

.merchandise-dropdown{
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: black;
    padding: 5px;
    z-index: 1;
    flex-wrap: wrap;
}

.menu-merchandise{
    padding: 10px 0px;
}

.menu-merchandise:hover{
    transition: 0.5s;
    background-color: #ae1e1e;
}

.nav-merchandise:hover .merchandise-dropdown{
    display: block;
}

.regisnav{
    margin : 0px 30px;
    position: absolute;
    right: 0;
}

.regisnav a{
    background-color: #ae1e1e;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.5s;
}

.regisnav a:hover{
    padding: 15px 25px;
}

.burgernav{
    display: none;
}

.burger{
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    margin: 6px 0;
}

.content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Assets/doto2_homepage_content2.jpg");
    height: 125vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content h3{
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

.content-container{
    display: flex;
    justify-content: space-around;
}

.content-box{
    border-style: groove;
    border-color: lightblue;
    margin: 50px;
    border-radius: 5px;
}

.content-box:hover{
    border-color: goldenrod;
}

.content-desc{
    height: 125px;
    width: 200px;
    background-color: rgba(172, 168, 168, 0.836);
    text-align: center;
}

.content-desc h4{
    color: black;
    font-size: 1.15rem;
    margin: 0px 5px 5px 5px;
}

.content-pic{
    height: 200px;
    width: 200px;
    transition: 1.5s;

}

.content-pic img{
    height: 200px;
    width: 200px;
}

.content-pic:hover{
    transform: scale(1.6);
}

#spectre-price{
    text-decoration: line-through;
}

#lina-price{
    text-decoration: line-through;
}

#sf-price{
    text-decoration: line-through;
}

#footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 12vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sosmed img{
    height: 30px;
    width: 30px;
}

.copyright p{
    font-size: 1rem;
}

@media screen and (max-width:800px){

    .burgernav{
        display: block;
        position: absolute;
        right: 0;
        margin: 20px 30px;
    }

    #header{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-top: 20px;
    }

    .logo{
        margin-bottom: 24.5px;
    }

    .nav, .nav-merchandise{
        position: relative;
        width: 100%;
        background-color: black;
        margin: 0px;
        display: none;
    }

    .nav a{
        padding-right: 700px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .regisnav{
        position: relative;
        width: 100%;
        background-color: black;
        margin: 0px;
        padding: 30px 0px; 
        display: inline-block;
        display: none;
    }

    .regisnav:hover{
        background-color: #ae1e1e;
    }

    .regisnav a{
        background-color: inherit;
        padding: 20px 10px;
        border-radius: 0px;
        transition: 0s;
    }
    
    .regisnav a:hover{
        padding: 20px 10px;
    }

    .merchandise-dropdown{
        margin-top: 30px;
        display: none;
        position: relative;
        background-color: black;
        padding: 5px;
        z-index: 1;
        flex-wrap: wrap;
    }

    .menu-merchandise a{
        padding-right: 700px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content{
        min-height: 250vh;
    }
    
    .content-container{
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 800px){
    .nav.responsive{
        display: block;
    }
    .nav-merchandise.responsive{
        display: block;
    }
    .regisnav.responsive{
        display: block;
    }
}