*{
    margin: 0;
    text-decoration: none;
    font-family: "Goudy Old Style";
    color: white;
    font-size: 1.2rem;
}

body, html{
    height: 100%;
}

#header{
    display: flex;
    background-color: black;
    height: 12vh;
    justify-content: flex-start;
    align-items: center;
}

#home{
    font-family: "Old English Text MT";
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.logo{
    margin: 0px 10px;
}

#logoImg{
    height: 65px;
    width: 65px;
    margin-right: 5px;
}

.nav{
    margin : 0px 10px;
    padding: 30px 0px; 
}

.nav:hover{
    transition: 0.5s;
    background-color: #ae1e1e;
}

.nav a{
    padding: 20px 10px;
}

.nav-merchandise{
    margin : 0px 10px;
    padding: 30px 0px; 
    position: relative;
    display: inline-block;
}

.nav-merchandise a{
    padding: 20px 10px;
}

.nav-merchandise:hover{
    transition: 0.5s;
    background-color: #ae1e1e;
}

.merchandise-dropdown{
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: black;
    padding: 5px;
    z-index: 1;
    flex-wrap: wrap;
}

.menu-merchandise{
    padding: 10px 0px;
}

.menu-merchandise:hover{
    transition: 0.5s;
    background-color: #ae1e1e;
}

.nav-merchandise:hover .merchandise-dropdown{
    display: block;
}

.regisnav{
    margin : 0px 30px;
    position: absolute;
    right: 0;
}

.regisnav a{
    background-color: #ae1e1e;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.5s;
}

.regisnav a:hover{
    padding: 15px 25px;
}

.burgernav{
    display: none;
}

.burger{
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    margin: 6px 0;
}

.content1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.164)), url("Assets/doto2_homepage_content.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 88vh;
    text-align: center;
}

.content1 p{
    margin: 0px 25vw;
    font-size: 2rem;
    padding-top: 8vh;
}

#deskripsicontent1{
    padding-top: 5vh;
    margin-bottom: 80px;
}

#judulcontent1{
    font-size: 4rem;
}

.content1 a{
    background-color: #ae1e1e;
    padding: 10px 50px;
    border-radius: 4px;
    transition: 0.5s;
}

.content1 a:hover{
    padding: 15px 55px;
}

.content2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Assets/doto2_homepage_content2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.content2 p{
    font-size: 2rem;
}

#content2-text2{
    margin-bottom: 50px;
}

.slider-content2{
    overflow: hidden;
    width: 960px;
    height: 540px;
    align-items: center;
    justify-content: center;
}


#container-content2{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    transition: 1.2s;
}

#container-content2 img{
    width: 960px;
    height: 540px;
}

#next, #previous{
    color: gold;
    background-color: gray;
    border: none;
    font-size: 2rem;
    padding: 5px 10px;
    transition: 0.7s;
    align-items: center;
    justify-content: center;
}

#footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 12vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sosmed img{
    height: 30px;
    width: 30px;
}

.copyright p{
    font-size: 1rem;
}

@media screen and (max-width:800px){


    .burgernav{
        display: block;
        position: absolute;
        right: 0;
        margin: 20px 30px;
    }

    #header{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-top: 20px;
    }

    .logo{
        margin-bottom: 24.5px;
    }

    .nav, .nav-merchandise{
        position: relative;
        width: 100%;
        background-color: black;
        margin: 0px;
        display: none;
    }

    .nav a{
        padding-right: 700px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .regisnav{
        position: relative;
        width: 100%;
        background-color: black;
        margin: 0px;
        padding: 30px 0px; 
        display: inline-block;
        display: none;
    }

    .regisnav:hover{
        background-color: #ae1e1e;
    }

    .regisnav a{
        background-color: inherit;
        padding: 20px 10px;
        border-radius: 0px;
        transition: 0s;
    }
    
    .regisnav a:hover{
        padding: 20px 10px;
    }

    .merchandise-dropdown{
        margin-top: 30px;
        display: none;
        position: relative;
        background-color: black;
        padding: 5px;
        z-index: 1;
        flex-wrap: wrap;
    }

    .menu-merchandise a{
        padding-right: 700px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .slider-content2{
        overflow: hidden;
        width: 480px;
        height: 270px;
        align-items: center;
        justify-content: center;
    }
    
    #container-content2 img{
        width: 480px;
        height: 270px;
    }

    .content1 p{
        font-size: 1.5rem;
    }

    #judulcontent1{
        font-size: 3rem;
    }

    .content2 p{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 800px){
    .nav.responsive{
        display: block;
    }
    .nav-merchandise.responsive{
        display: block;
    }
    .regisnav.responsive{
        display: block;
    }
}